html {
    font-family: 'Nunito';
}

body {
    background-color: #5f6ca1;
    color: white;
    display: flex;
    margin: auto; /*top right bottom left*/
}

.boards {
    display: flex;
    margin-top: 30px;
}

.board {
    background: #343746;
    border: 1px solid #282a36;
    border-radius: 6px;
    margin: 0 20px; /*top right bottom left*/
}

.board h3 {
    padding: 1px;
    margin: 50px 1px 0px 1px; /*top right bottom left*/
    text-align: center;
    color: white;
}

.dropzone {
    padding: 16px;
    min-width: 240px;
    min-height: 380px;
}

.card {
    background-color: #1A1A1C;
    padding: 20px;
    box-shadow: 0 2px 2px -1px #bd93f9cc;
    width: 260px;
    height: 520px;
    margin: 10px 0 10px 0; /*top right bottom left*/
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    
}

input{
    font-size: medium;
    font: bold;
    text-align: center;
    color: #1A1A1C;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inpDano{
  margin-left: 60px;
  width: 50px;
}

.inpCura{
  width: 50px;
}

.inpNome{
  margin-left: 15%;
  width: 220px;
  border-radius: 10px;
  border: solid 2px #bd93f9cc;
}

.status {
    width: 250px;
    height: 20px;
    margin: 10px auto; /*top right bottom left*/
    background: gray;
    border: solid 1px #aaa;
    border-radius: 8px;
}

.status-life {
  width: 250px;
  height: 20px;
  background: red;
  border-radius: 8px;

}

.status-mana {
  width: 250px;
  height: 26px;
  background: #4081d6;
  border-radius: 8px;
}

.total {
  position: relative;
  bottom: 22px;
  left: 45%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2px 5px;
 
}



/* Div Escudo Quebrado  */
.brokenContainer {
  width: 240px;
  height: 140px;
  padding-right: 10px;
 
}

.shieldBroken {
  width: 45px;
  height: 35px; 
}

.capitu {
  width: 185px;
  height: 155px;
}

.valueShieldBronken{
  margin: 10px;
  margin-top: 12px;
  margin-left: 68px;
}

.valuebroken{
  position: relative;
}

/* Div Escudo Quebrado  */


/* Div Escudo Inteiro  */

.container {
  width: 115px;
  height: 110px;
  margin: 30px 15px 20px 0; /*top right bottom left*/

}

.shield {
  width: 10px;
  height: 35px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.valueShield {
  margin: 10px;
  margin-top: 0;
  margin-left: 55px;
}


.value {
  position: relative;
  bottom: 55px;
  right: 15px;
}

.inpArmor {
  width: 35px;
  border-radius: 30px;
  background: transparent;
  border: solid 0;
  font-size: 30px;

}

/* Div Escudo Inteiro  */



/*DIV   Sentidos */

.containerSentido {
  margin: 20px 120px 10px 0; /*top right bottom left*/
}

.sentidos{
  width: 100px;
  height: 60px;
}

.sentido1 {
  width: 130px;
  height: 45px;
}

.percepcao {
  flex: 1;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: 35px;
  right: 7px;
}

.numPercepcao{
  width: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  bottom: 53px;
  left: 88px;
}