 img#info{
   margin: 10px auto;
 }
 
 img#EscudoMob {
    width: 40px;
    height: 40px;
    right: 19px;
    bottom: 33px;
    position: relative;
    background-color: transparent;
  }
  
  .status-shield {
    width: 101%;
    height: 28px;
    background: #5189cf;
    border-radius: 3px;
    position: relative;
  
  }
  
  .total-shield {
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    bottom: 35px;
    right: 45px;
  }

  .varEscudo {
    width: 34px;
    height: 12px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: solid 0;
    font-weight: bold;
  }
  
  
  .escudoTotal{
    width: 34px;
    height: 12px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: solid 0;
    font-weight: bold;
  }
  


  
  
  