@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Quicksand:wght@500&family=Roboto:ital,wght@0,400;0,500;1,100&display=swap');

.singUpArea {
    margin: 15px auto;
    text-align: center;
    border: 1px solid #dbdbdb;
    background-color: #FFFFFF;
    width: 350px;
    height: 63px;
}

div#singUp {
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

div#SpaceUserCenter {
    align-items: center;
}

div#UserArea {
    padding-bottom: 7px;
}

input#User {
    background-color: rgba(250, 250, 250, .8);
    border: 1px solid #cfcfcfce;
    border-radius: 5px;
    width: 258px;
    height: 36px;
}

input#password {
    background-color: rgba(250, 250, 250, .8);
    border: 1px solid #cfcfcfce;
    border-radius: 5px;
    width: 258px;
    height: 36px;
}

div#buttonArea {
    margin-top: 10px;
}

button#btnLogin2 { /*login*/
    border-style: none;
    border-radius: 5px;
    background-color: rgba(0, 149, 246, .3);
    width: 264px;
    height: 30px;
}


div#login {
    color: #FFFFFF;
    font-weight: 600;
}

div#divisor {
    margin: 30px 40px 18px;
}

div#dasherlft {
    background-color: #cfcfcfce;
    height: 1px;
    width: 100px;
    left: 20px;
    position: relative;
    flex-grow: 1;
}

div#dasherRht {
    background-color: #cfcfcfce;
    height: 1px;
    width: 100px;
    left: 160px;
    bottom: 19px;
    position: relative;
    flex-grow: 1;
}

div#ou {
    left: 9px;
    bottom: 10px;
    padding-right: 25px;
    padding-left: 5px;
    position: relative;
    color: #8E8E8E;
    font-size: 10pt;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
}

button#btnLoginFace {
    border: none;
    background-color: transparent;
    color: #385185;
    font-weight: bold;
    font-size: 13px;
}

div#forget {
    margin: 20px 0px 17px 0px;
}

a#forgotPass {
    text-decoration: none;
    color: #385185;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
}

p#cadastro_P, a#cadastro_A {
    font-size: 10.2pt;
    font-family: 'Roboto', sans-serif;
}

a#cadastro_A {
    text-decoration: none;
    color: #0095F6;
    font-weight: 500;
}

.Ads { /*login*/
    margin: auto;
    width: 350px;
    height: 80px;
}

.Ads p#obtApp {/*login*/
    margin: 10px 20px 10px 20px;
    text-align: center;
}

.Ads div#App {/*login*/
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 30px;
}


.Ads div#App a img { /*login*/
    width: 136px;
    height: 40px;
}