@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Quicksand:wght@500&family=Roboto:ital,wght@0,400;0,500;1,100&display=swap');

@keyframes animacao {
    0% {opacity:1;}
    15% {opacity:1;}
    40% {opacity:1;}
    60% {opacity:0;}
    100% {opacity:0;}
} 

body { /*2*/
    width: auto;
    margin-top: 95px;
    background-color: rgba(247, 247, 247, 0.87);
    justify-content: center;
    align-items: center;
}

.container { /*2*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: -70px;
    margin-bottom: -20px;
}

div#phoneImg { /*2*/
    background-image: url("/_img/bgPhones.png");
    width: 454px;
    height: 600px;
    margin-left: -35px;
    margin-right: -15px;
}

/* Animação */ /*2*/
div#margin {
    margin: 96px 0 0 147.2px;
    position: relative;
}

.animation {
    border: 2 solid black;
    position: absolute;
    width: 246.3px; 
    height: 435.6px;
    animation: animacao 60s infinite;
}

  .animation img#animation5 {
    opacity: 0;
    visibility: hidden;
  }
  .animation img#animation4 {
    opacity: 0;
    visibility: hidden;
  }
  .animation img#animation3 {
    opacity: 0;
    visibility: hidden;
  }
  .animation img#animation2 {
    opacity: 0;
    visibility: hidden;
  }
  .animation img#animation1 {
    opacity: 0;
    visibility: hidden;
  }
  /* Fim Animação */

div#bigArea { /*2*/
    margin: 15px 0 10px 0;
}

.instagram-account { /*2*/
    display: block ;
    text-align: center;
    border: 1px solid #dbdbdb;
    background-color: #FFFFFF;
    width: 350px;
    height: 100%;
}

div#instagram-logo { /*2*/
    padding-left: 10px;
    padding-top: 15px;
}

div#account { /*2*/
    padding-top: 15px;
}

div#SpaceimgPerfil {
    width: 100%;
    height: 105px;
}

.loginArea { /*2*/
    padding-top: 15px;
    height: auto;
}

.logoutArea { /*index*/
    padding-top: 0;
}

.Space {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
}

button#btnLogin { /*index*/
    border-style: none;
    border-radius: 5px;
    background-color: #0095f6;
    min-width: 260px auto;
    height: 29px;
    cursor: pointer;
}

div#spaceInsideBtn {
    width: 240px;
    height: 18px;
}

p#ask, a#option { /*index*/
    font-family: 'Roboto', sans-serif;
}

a#login { /*index*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #FAFAFA;
    font-size: 14px;
    font-weight: 500;
}

p#ask { /*index*/
    font-size: 10pt;  
}

a#option { /*index*/
    text-decoration: none;
    color: #0095f6;
    font-size: 10pt;
    font-weight: 500;
}

footer { /*2*/
    display: block;
    margin-top: 40px;
    text-align: center;
}

.navegation-menu {
    padding-bottom: 0px;
    margin-bottom: -12px;
}

ul#menus li {
    list-style: none;
    display: inline;
    padding-left: 5px;
}

ul#menus a, div#copyrights {
    text-decoration: none;
    color: #757575c0;
    font-size: 11pt;
}

div#last_div {
    padding-top: 0px;
    margin-top: -15px;
    display: flex;
    justify-content: center;
}

select#slt_language {
    cursor: pointer;
    color: #757575c0;
    background-color: transparent;
    border: none;
}

div#copyrights {
    margin-left: 10px;
}