<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Cards organizator</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="C:/Users/Jeferson Lucas/Desktop/saves/Jeferson/coisaDoJeff/style/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900" rel="stylesheet">
    
  </head>

  <body>
      
    <div class="boards">
        <div class="board">
          <h3>1º</h3>
            <div class="dropzone">
                <div class="card" draggable="true">
                  <!--Inicio do card-->
                          <img src="C:/Users/Jeferson Lucas/Desktop/saves/Jeferson/coisaDoJeff/style/imagens/babaca.jpg" alt="babaca cara!" width="260" height="200">

                          <!--Inicio da área de teste-->

                          

                                <div class="area">
                                  <input placeholder="Dano" class="inpDano">
                                  <input  placeholder="Cura" class="inpCura">
                                </div>

                              <div class="status">
                                  <div class="status-life"></div>
                                  <div class="total">16</div>
                              </div>

                              <div class="status">
                                <div class="status-mana"></div>
                                <div class="total">21</div>
                            </div>
                                

                          <!--Fim da área de teste-->

                         
                      



              <!--Final do card-->
                </div>    
            </div>
        </div>   
      </div>





  </body>
</html>