<img src="./view/imagens/Ruffel/ruffel.jpg" alt="halfling-Ginger" width="260" height="200">

<div class="areaSaude">
  <button class="btnDano">Dano</button>
  <input type="number" min="0" class="inpValor">
  <button class="btnCura">Cura</button>
</div>


<div class="area">
  <div class="status">
    <div class="status-life"></div>
    <div class="grid-barra">
       <div class="heartLifeBar"> 
         <img id="heart" src="./view/imagens/icones/heartLifeBar.png" alt="coração" />
       </div>
       <div class="total">
        <input placeholder="0" class="varLife">
        <span class="spnBar">/</span>
        <input placeholder="0" class="lifeTotal">
      </div>
    </div>
  </div>
</div>

<div class="area">
  <div class="status">
    <div class="status-shield"></div>
    <div class="grid-barra">
       <div class="shieldMob"> 
         <img id="EscudoMob" src="./view/imagens/icones/shield.svg" alt="Escudo" />
       </div>
       <div class="total-shield">
        <input placeholder="0" class="varEscudo">
        <span class="spnBar">/</span>
        <input placeholder="0" class="escudoTotal">
       </div>
    </div>
  </div>
</div>

<div class="containerSentido">
    <div class="sentidos">
        
            <div class="percepcao">Perception</div>
            <div class="numPercepcao">11</div>
        
            <div class="percepcao">Investigation</div>
            <div class="numPercepcao">17</div>
        
            <div class="percepcao">Insight</div>
            <div class="numPercepcao">11</div>
     </div>
</div>   